header{
    background-color: #2c3e50;
}

header .container h4{
    color: #ffffff;
    font-size: 1.2em;
}

header .container i{
    color: #888888;
    font-size: 1.5em;
    border: 2px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}


/* PROFILO */

#profilo{
    background-color: #1abc9c;
}

#profilo .d-flex .row .col-12 img{
    max-width: 250px;
}


#profilo .row .col-12 h1{
    color: #ffffff;
    font-size: 1.6em;
}


#profilo .row .col-12 .d-flex hr, #profilo .row .col-12 .d-flex i{
    width: 70px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 800;
}

#profilo .row .col-12 .d-flex span{
    color: #ffffff;
    font-size: 1.3em;
}

/* PORTFOLIO */

#portfolio{
    background-color: #ffffff;
}

#portfolio .container .row .col h5{
    text-align: center;
    padding-top: 40px;
}

#portfolio .container .row .col .d-flex > *{
    color: #2c3e50;
}

#portfolio .container .row .col-12 img{
    border-radius: 10px;
    width: 100%;
} 

#portfolio .container{
    padding-top: 30px;
}

/* ABOUT */

#about{
    background-color: #1abc9c;
}

#about .container .row .col-12 .d-flex *{
    color: #ffffff;
}

#about .container .row .col-12 h5{
    text-align: center;
    padding-top: 40px;
    color: #ffffff;
}

#about .container .row .col-12 .container-md p{
    color: #ffffff;
}

/* CONTACT ME*/

#submit{
    background-color: #1abc9c;
    border-radius: 10px;
    border: 0;
    font-size: 1.5em;
    color: #ffffff;
}

/* FOOTER */


.bc-footer-up{
    background-color: #3a546d;
    color: #ffffff;
}

#copyright{
    background-color: #2c3e50;
    color: #ffffff;
}

#copyright .container-fluid div{
    color: #ffffff;
    font-size: 1em;
}